.review-item-wrapper {
  .review-item-content {
    .link-item {
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
      background-size: 100% 2px, 0 2px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 500ms;
    }
  }
  .review-item-img {
    transition: all ease 0.4s;
  }
  .review-item-content {
    .link-item:hover {
      background-size: 0 2px, 100% 2px;
    }
  }
  &:hover {
    .review-item-img {
      scale: 1.1;
    }
  }
  .link-see_more {
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 0%;
      height: 1px;
      background: #000;
      position: absolute;
      bottom: 0;
      right: 0;
      transition: all .3s;
    }
    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}
.review-full {
  .review-item-wrapper {
    .review-item-content{
      .text-review {
        font-size: 1.25vw;
      }
      .link-see_more {
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }
}
